h1, h2, h3{
    text-transform: uppercase !important;
    text-align: center !important;
}
a{
    text-decoration: none !important;
}
.text_center {
    text-align: center !important;
}
h1 {
    margin-top: 20vh;
    margin-bottom: 3vh;
}


form[name="registration_form"] div{
    padding: 5px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
}

.dropdown-toggle::after {
    vertical-align: .155em !important;
}

* {
    scrollbar-color: var(--bs-dark) var(--bs-light);
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bs-dark);
    border-radius: 5px;
}